<a href="https://colab.research.google.com/github/Ayushi-Sharma19/Python/blob/main/comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 28]
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

even_squared_numbers = [number**2 for number in list_of_numbers if number % 2 == 0]
print(even_squared_numbers)

odd_squared_numbers = [number**2 for number in list_of_numbers if number % 2 != 0]
print(odd_squared_numbers)

new_numbers = [number**2 if number % 2 == 0 else number**3 for number in list_of_numbers]
print(new_numbers)

list_of_numbers = [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[1, 4, 16, 36, 121, 196, 289, 784]
[4, 16, 36, 196, 784]
[1, 121, 289]
[1, 4, 16, 36, 1331, 196, 4913, 784]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]